<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>22A380019</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleHSSPIHIDDriver</string>
	<key>CFBundleGetInfoString</key>
	<string>Copyright © 2021 Apple Inc. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleHSSPIHIDDriver</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleHSSPIHIDDriver</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>63</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>63</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>14.3</string>
	<key>DTSDKBuild</key>
	<string>23D45</string>
	<key>DTSDKName</key>
	<string>macosx14.3.internal</string>
	<key>DTXcode</key>
	<string>1500</string>
	<key>DTXcodeBuild</key>
	<string>15A6160m</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>DeviceManagement HID Driver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHSSPIHIDDriver</string>
			<key>ExtendedData</key>
			<array>
				<integer>50397184</integer>
				<integer>50462720</integer>
				<integer>50528256</integer>
				<integer>50593792</integer>
				<integer>61865984</integer>
				<integer>61931520</integer>
				<integer>61997056</integer>
				<integer>62062592</integer>
				<integer>62259200</integer>
			</array>
			<key>IOClass</key>
			<string>AppleHSSPIHIDDriver</string>
			<key>IOProviderClass</key>
			<string>AppleHSSPIInterface</string>
			<key>bInterfaceClass</key>
			<integer>3</integer>
			<key>bInterfaceProtocol</key>
			<integer>0</integer>
			<key>bInterfaceSubClass</key>
			<integer>0</integer>
		</dict>
		<key>Generic SPI HID Driver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHSSPIHIDDriver</string>
			<key>IOClass</key>
			<string>AppleHSSPIHIDDriver</string>
			<key>IOProviderClass</key>
			<string>AppleHSSPIInterface</string>
			<key>bInterfaceClass</key>
			<string>*</string>
			<key>bInterfaceProtocol</key>
			<string>*</string>
			<key>bInterfaceSubClass</key>
			<string>*</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>14.3</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2021 Apple Inc. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleHSSPISupport</key>
		<string>1.0</string>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>1.8</string>
		<key>com.apple.kpi.bsd</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.private</key>
		<string>12.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Console</string>
</dict>
</plist>
