<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>22A380010</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleCameraInterface</string>
	<key>CFBundleGetInfoString</key>
	<string>AppleCameraInterface, Copyright © 2011 Apple Inc. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleCameraInterface</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleCameraInterface</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>7.14.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>7.14.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>23A5257h</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>14.0</string>
	<key>DTSDKBuild</key>
	<string>23A5257h</string>
	<key>DTSDKName</key>
	<string>macosx14.0.internal</string>
	<key>DTXcode</key>
	<string>1500</string>
	<key>DTXcodeBuild</key>
	<string>15A6130h</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleCamIn,PCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleCameraInterface</string>
			<key>CFBundleVersion</key>
			<string>1.0.0</string>
			<key>IOClass</key>
			<string>AppleCamIn</string>
			<key>IOPCIMatch</key>
			<string>0x157014E4</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOPCIUseDeviceMapper</key>
			<true/>
			<key>IOProbeScore</key>
			<integer>4096</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2011 Apple Inc. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>2.6.5</string>
		<key>com.apple.iokit.IOSurface</key>
		<string>187.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>11.1.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>11.1.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>11.1.0</string>
		<key>com.apple.kpi.mach</key>
		<string>11.1.0</string>
		<key>com.apple.kpi.private</key>
		<string>11.1.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>11.1.0</string>
	</dict>
</dict>
</plist>
