<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>ECM-Override</string>
	<key>CFBundleIdentifier</key>
	<string>com.dortania.ECM-Override</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ECM-Override</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>9.9.9</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>9.9.9</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleUSBECMControl</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBECMControl</string>
			<key>IOMatchDefer</key>
			<true/>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>bInterfaceClass</key>
			<integer>2</integer>
			<key>bInterfaceProtocol</key>
			<string>*</string>
			<key>bInterfaceSubClass</key>
			<integer>6</integer>
			<key>IOProbeScore</key>
			<integer>110000</integer>
		</dict>
		<key>AppleUSBECMData0</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBECMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>bInterfaceClass</key>
			<integer>10</integer>
			<key>bInterfaceProtocol</key>
			<integer>0</integer>
			<key>bInterfaceSubClass</key>
			<integer>0</integer>
			<key>ioNetBootable</key>
			<data>AQ==</data>
			<key>IOProbeScore</key>
			<integer>110000</integer>
		</dict>
		<key>AppleUSBECMData6</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBECMDataNC</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>bInterfaceClass</key>
			<integer>10</integer>
			<key>bInterfaceSubClass</key>
			<integer>6</integer>
			<key>IOProbeScore</key>
			<integer>110000</integer>
		</dict>
	</dict>
</dict>
</plist>
